---
import ShoppingList from '../components/ShoppingList';

const buyList = [
  'Controller',
  'Bread',
  'Water',
  'Notebook',
  'Math Book',
  'Choco Bar',
  'Milk',
];
---

<h1>Compras de la Semana</h1>
<ShoppingList items={buyList} />
